// Simple Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  background: #f1f1f1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div.main div.title-bar {
  background-color: #FFFFFF;
  padding: 1em;
}

div.main div.title-bar h2 {
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  color: #727272;
}

div.main div.companies div.company {
  background: #FFFFFF;
  margin-top: 1em;
  min-height: 108px;
}

div.main div.companies div.company p {
  font-family: Open Sans, sans-serif;
  color: #727272;
  margin: 0;
}

div.main div.companies div.company div.left {
  position: absolute;
  width: 5em;
  padding: 1em;
}

div.main div.companies div.company div.right {
  padding: 1em 1em 1em 7em;
}

div.main div.companies div.company div.left img {
  width: 5em;
}

div.main div.companies div.company div.right p.name {
  font-size: 1.25em;
  font-weight: 400;
  padding-right: 4em;
}

div.main div.companies div.company div.right p.description {
  padding: 0.5em 4em 0 0;
  line-height: 1.5em;
}

div.main div.companies div.company div.right div.score {
  background-color: #F4AA22;
  border-radius: 5px;
  float: right;
  position: relative;
  padding: 0.5em 1em;
}

div.main div.companies div.company div.right div.score p {
  text-align: center;
  color: white;
}
